src/main/mule/jms-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="26d4f226-5dc2-4f67-94dd-3f65a8fc7ebc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="066d151b-9a9a-42df-95d5-eceb98742933" >
		<jms:active-mq-connection username="admin" password="admin">
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="jms-connectorFlow" doc:id="25cd862b-837f-4253-9597-539457eb59e4" >
		<http:listener doc:name="Listener" doc:id="a5d16cfe-762f-4961-bbd8-42bc842443e0" config-ref="HTTP_Listener_config" path="/jmspublish"/>
		<set-payload value="message from jms publish " doc:name="Set Payload" doc:id="ab1e168a-10eb-4877-ba4d-aaeff29975a7" />
		<jms:publish doc:name="Publish" doc:id="ed6bf104-e34c-468d-8cb5-4783cd1c4dad" config-ref="JMS_Config"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="98f20db7-f779-41d4-9791-01f20baf73eb" />
		<logger level="INFO" doc:name="Logger" doc:id="0bd5440f-8670-48df-b6e9-345c6fc2d97f" />
	</flow>
</mule>
